.header {
    background-color: #059605;
    padding: 10px;
    text-align: center;
}

.header img {
    float: left;
    width: 100px;
    height:100px;
    background-color: transparent;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}